#mypic {
  height: 450px;
  width: 300px;
  padding-top: 40px;
}
#navText {
  float: right;
}

.minimumHeight {
  min-height: 575px;
}

.page-footer {
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: coral;
}

#bodycontent {
  max-width: 960px;
  padding: center;
  background-color: tan;
  text-align: center;
  margin-left: 300px;
  margin-top: 50px;

  font-style: italic;
  font-size: 50px;
}
#contactform {
  background-color: bisque;
}
#portfoliopage {
  max-width: 1020px;
  margin-block: center;
  margin: center;
  padding: inherit;
  text-align: center;
}
@media only screen and (max-width: 980px) {
  body {
    width: 90%;
    margin-left: 5%;
  }
  ​ .page-footer {
    width: 100%;
    height: 20%;
  }
}
@media only screen and (max-width: 760px) {
  body {
    width: 90%;
    margin-left: 5%;
  }
  ​ .page-footer {
    width: 100%;
    height: 20%;
  }
}
@media only screen and (max-width: 640px) {
  body {
    width: 90%;
    margin-left: 5%;
  }
  ​ .page-footer {
    width: 100%;
    height: 20%;
  }
}
#fname,
#lname,
#email,
#lkdn,
#subject,
#WorkExperience,
#skills,
#github,
#phoneNumber {
  color: blue;
}

.nav-wrapper {
  color: rgb(12, 68, 12);
}
p {
  font-size: 23px;
}
h5 {
  font-size: 40px;
  color: blue;
  font-style: italic;
}
.col-sm-2 {
  height: 800px;
  padding-top: 100px;
}
#image {
  border-radius: 50%;
}
